<h1>Control panel</h1>
<table>
    <thead>
        <th>User</th>
        <th>Role</th>
    </thead>

    <tbody>
        <% @users.each do |user| %>
            <tr>
                <td><%= user.email %></td>
                <% if user.admin? %>
                    <td>Admin</td>
                <% else %>
                    <td>User</td>
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>